body{
	background-color: #302f37;
}
section:nth-of-type(1){
	height: 500px;
	background: url(../imgb/backgroung.png) no-repeat center 0;
	margin: 0 auto;
}
.box1{
	width: 1180px;
	height: 432px;
	padding-top: 68px;
	margin: 0 auto;
	text-align: center;
}
.box1 h2{
	font: 26px/26px "微软雅黑";
	color: #FFFFFF;
}
.box1>p{
	font: 14px/44px "微软雅黑";
	color: #FFFFFF;
}
.box1>a{
	display: inline-block;
	width: 200px;
	height: 50px;
	font-size: 0;
	vertical-align: top;
	background: url(../img/jinlin2.png) no-repeat;
}
.box1>a:hover{
	background: url(../img/jinlin2.png) no-repeat -210px 0;
}
/*-------动画部分--------------------------------------------------------------------*/
.box1 ul{
	padding-top: 25px;
	width: 1180px;
}
.box1 li{
	float: left;
	position: relative;
	width: 218px;
	height: 260px;
	margin-right: 20px;
	border: 1px solid #f9eda8;
	background-color: #FFFFFF;
	text-align: center;
}
.box1 li:last-child{
	margin: 0;
}
.box1 li h3{
	font:bold 20px/20px "微软雅黑";
	color: #3a3a3a;
	padding-top: 46px;
}
.box1 li p{
	font: 12px/28px "微软雅黑";
	color: #636363;
}
@keyframes two-th1{
	0%{
		transform: scale(1) translateY(0);
	}
	50%{
		transform: scale(1.5) translateY(-10px);
	}
	100%{
		transform: scale(1) translateY(0);
	}
}
.box1 li:hover .two-th1{
	animation: two-th1 1s linear;
}
@keyframes crowd1{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(0);
	}
}
.box1 li:hover .crowd1{
	animation: crowd1 1s linear;
}
.crowd{
	position: absolute;
	top: 118px;
	left: 60px;
	width: 100px;
	height: 74px;
	background: url(../imgb/jinlin1.png) no-repeat 0 -147.5px;
	background-size: 100px auto;
}
.p5{
	background: url(../imgb/jinlin1.png) no-repeat 0 -2px;
	background-size: 100px auto;
}
.two-th{
	position: absolute;
	bottom: -13px;
	right: -8px;
	width: 77px;
	height: 32px;
	background: url(../imgb/jinlin1.png) no-repeat 0 -227.5px;
	background-size: 100px auto;
}
@keyframes crowd{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(-10px);
	}
	100%{
		transform: translateY(0);
	}
}
.box1 li:hover .crowd{
	animation: crowd 1s linear;
}
 @keyframes two-th {
    0%{
        transform: translateY(40px);
    }
    100%{
        transform: translateY(0px);
    }
}
.box1 li:hover .two-th{
	animation: two-th 1s linear;
}
/*-------动画结束--------------------------------*/
/*-------选项卡开始-----------------------------*/
section:nth-of-type(2){
	height: 614px;
	width: 100%;
	background-color: #FFFFFF;
}
.box2{
	width: 1180px;
	height: 572px;
	padding-top: 42px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.box2 nav{
	height: 45px;
	border-bottom: 1px solid #dbdbdb;
}
.box2 input{
	display: none;
}
.box2 label{
	display: inline-block;
	vertical-align: top;
	font: 16px/42px "微软雅黑";
	color: #636363;
	height: 42px;
	padding: 0 10px;
	cursor: pointer;
	position: absolute;
	
}
.box2 label:nth-of-type(1){
	top: 42px;
}
.box2 label:nth-of-type(2){
	top: 42px;
	left: 100px;
}
.box2 label:nth-of-type(3){
	top: 42px;
	left: 184px;
}
.box2 label:nth-of-type(4){
	top: 42px;
	left: 284px;
}
.box2 label:nth-of-type(5){
	top: 42px;
	left: 384px;
}
.box2 label:nth-of-type(6){
	top: 42px;
	left: 484px;
}
input:checked+label{
	color: #2a2a2a;
    border-bottom: 4px solid #FAD65B;
}
input:nth-of-type(1):checked~ul{
	left: 0;
}
input:nth-of-type(2):checked~ul{
	left: -1180px;
}
.box2 .list{
	position: relative;
	width: 600%;
	height: 518px;
	padding-top: 8px;
} 
.box2 .list>li{
	float: left;
	width: 1180px;
	height: 518px;
	font-size: 0;
}
.list>li a{
	float: left;
	vertical-align: top;
	padding: 40px 33px 0;
	width: 100px;
	height: 197px;
	border: 1px solid transparent;
}
.list>li a:hover{
	border:1px solid #DBDBDB;
}
.list a span{
	display: block;
}
.list a span:nth-of-type(1){
	width: 100px;
	height: 100px;
	background: url(../imgb/jinlin3.png) no-repeat 0 -1200px;
}
.list a span:nth-of-type(2){
	color: #5a5353;
    font: 14px/63px "微软雅黑";
    text-align: center;
}
aside{
	position: fixed;
	top: 30%;
	right: 0;
}
