section:nth-of-type(1){
	height: 500px;
	width: 100%;
	background: #bcebff;
}
.box1{
	width: 1400px;
	height: 500px;
	margin: 0 auto;
}
.box1 img{
	width: 100%;
	height: 100%;
}
/*-------------内容2---------开始---------------*/
section:nth-of-type(2){
	width: 100%;
	height: 620px;
	background: #fbfbfb;
}
.box2{
	width: 1180px;
	height: 620px;
	margin: 0 auto;
}
.box2-1{
	width: 1180px;
	height: 445px;
} 
/*----------ggggggggggggggggggggggggggg-----------*/
.box2 h3{
	height: 24px;
	font: 24px/24px "微软雅黑";
	color: #636363;
	padding: 52px 0 20px;
}
/*----------------gggggggggggggggggggggg-------------*/
.box2-1 li{
	width: 220px;
	height: 350px;
	margin-right: 20px;
	float: left;
}
.box2-1 .no-m{
	margin: 0;
}
.box2-1 li:nth-of-type(1){
	background-image: url(../imgd/jinlin.png) ;
	background-color: #AAA5FF;
}
.box2-1 li:nth-of-type(2){
	background-image: url(../imgd/jinlin.png) ;
	background-color: #efbb69;
	background-position-y: -350px;
}
.box2-1 li:nth-of-type(3){
	background-image: url(../imgd/jinlin.png) ;
	background-color: #56cebf;
	background-position-y: -700px;
}
.box2-1 li:nth-of-type(4){
	background-image: url(../imgd/jinlin.png) ;
	background-color: #6fb3de;
	background-position-y: -1050px;
}
.box2-1 li:nth-of-type(5){
	background-image: url(../imgd/jinlin.png) ;
	background-color: #a6d467;
	background-position-y: -1400px;
}
.box2-1 a{
	display: block;
	width: 220px;
	height: 301px;
	padding-top: 49px;
	position: relative;
	overflow: hidden;
	transition: 1s;
}
.box2-1 a span{
	display: block;
	width: 220px;
	color: #FFFFFF;
	text-align: center;
}
.box2-1 a span:nth-of-type(1){
	font: 24px/24px "微软雅黑";
}
.box2-1 a span:nth-of-type(2){
	font: 14px/38px "微软雅黑";
}
/*------------------------动画————1——————*/
.box2-1 ul li:nth-of-type(1) strong{
	display: block;
	width: 90px;
	height: 90px;
	background: url(../imgd/jinlin2.png) no-repeat;
	background-size: 150px auto;
	font-size: 0;
	position: absolute;
	top: 155px;
	left: 66px;
	overflow: hidden;
}
.box2-1 ul li:nth-of-type(1) em{
	display: block;
	width: 10px;
	height: 10px;
	font-size: 0;
	background: url(../imgd/jinlin2.png) no-repeat 0 -94.5px;
	background-size: 150px auto;
	position: absolute;
	left: 90px;
	top: 40px;
	transition: 1s;
}
.box2-1 ul li:nth-of-type(1) .em{
	left: 110px;
}
.box2-1 ul li:nth-of-type(1) .em2{
	left: 130px;
}
.box2-1 ul li:nth-of-type(1):hover em{
	left: 20px;
}
.box2-1 ul li:nth-of-type(1):hover .em{
	left: 40px;
}
.box2-1 ul li:nth-of-type(1):hover .em2{
	left: 60px;
}
.box2-1 ul li:nth-of-type(1):hover .p1{
	animation: p1 1s linear;
}
@keyframes p1{
	0%{
		transform: translate(0);
	}
	50%{
		transform: translate(6px, -6px);
	}
	100%{
		transform: translate(0);
	}
}
/*------------------------动画————2——————*/
.box2-1 ul li:nth-of-type(2) strong{
	display: block;
	width: 88px;
	height: 84px;
	background: url(../imgd/jinlin2.png) no-repeat 0 -524px;
	background-size: 150px auto;
	font-size: 0;
	position: absolute;
	top: 155px;
	left: 66px;
	overflow: hidden;
}
.box2-1 ul li:nth-of-type(2) em{
	display: block;
}
.box2-1 ul li:nth-of-type(2) .em{
	width: 20px;
	height: 11px;
	background: url(../imgd/jinlin2.png) no-repeat 0 -622px;
	background-size: 150px auto;
	position: absolute;
	left: 34px;
	top: -26px;
	transition: 1s;
}
.box2-1 ul li:nth-of-type(2):hover .em{
	top: 15px;
}
.box2-1 ul li:nth-of-type(2) .em2{
	width: 54px;
	height: 4px;
	background: url(../imgd/jinlin2.png) no-repeat 0 -616px;
	background-size: 150px auto;
	position: absolute;
	left: 18px;
	bottom: -31px;
	transition: 1s;
}
.box2-1 ul li:nth-of-type(2):hover .em2{
	bottom: 27px;
}
.box2-1 ul li:nth-of-type(2):hover .p2{
	animation: p2 1s linear;
}
@keyframes p2{
	0%{
		transform: translate(0);
	}
	50%{
		transform: translateY(-10px);
	}
	100%{
		transform: translate(0);
	}
}
/*------------------------动画————3——————*/
.box2-1 ul li:nth-of-type(3) strong{
	display: block;
	width: 90px;
	height: 90px;
	background: url(../imgd/jinlin2.png) no-repeat 0 -109px;
	background-size: 150px auto;
	border-radius: 90px;
	font-size: 0;
	position: absolute;
	top: 155px;
	left: 66px;
	overflow: hidden;
}
.box2-1 ul li:nth-of-type(3) em{
	display: block;
}
.box2-1 ul li:nth-of-type(3) .em{
	width: 60px;
	height: 63px;
	background: url(../imgd/jinlin2.png) no-repeat 0 -232px;
	background-size: 150px auto;
	position: absolute;
	left: 15px;
	top: 18px;
	transition: 1s;
}
.box2-1 ul li:nth-of-type(3):hover .em{
	transform: rotate(-20deg) translate(0, 68px);
}
.box2-1 ul li:nth-of-type(3):hover .p3{
	animation: p3 1s linear;
}
@keyframes p3{
	0%{
		transform: translate(0);
	}
	50%{
		transform: translateY(-10px);
	}
	100%{
		transform: translate(0);
	}
}
/*------------------------动画————4——————*/
.box2-1 ul li:nth-of-type(4) strong{
	display: block;
	width: 110px;
	height: 88px;
	background: url(../imgd/jinlin2.png) no-repeat 0 -303.5px;
	background-size: 150px auto;
	font-size: 0;
	position: absolute;
	top: 157px;
	left: 55px;
	overflow: hidden;
}
.box2-1 ul li:nth-of-type(4) em{
	display: block;
	width: 8px;
	height: 8px;
	background: url(../imgd/jinlin2.png) no-repeat 0 -395.5px;
	background-size: 150px auto;
	position: absolute;
	transition: 1s;
}
.box2-1 ul li:nth-of-type(4) em{
	left: 167px;
	bottom: 13px;
}
.box2-1 ul li:nth-of-type(4) .em{
	left: 179px;
	bottom: 13px;
}
.box2-1 ul li:nth-of-type(4) .em2{
	left: 167px;
	bottom: 25px;
}
.box2-1 ul li:nth-of-type(4) .em3{
	left: 179px;
	bottom: 25px;
}
.box2-1 ul li:nth-of-type(4):hover em{
	left: 56px;
}
.box2-1 ul li:nth-of-type(4):hover .em{
	left: 68px;
}
.box2-1 ul li:nth-of-type(4):hover .em2{
	left: 56px;
}
.box2-1 ul li:nth-of-type(4):hover .em3{
	left: 68px;
}
.box2-1 ul li:nth-of-type(4):hover .p4{
	animation: p4 1s linear;
}
@keyframes p4{
	0%{
		transform: translate(0);
	}
	50%{
		transform: translateY(-10px);
	}
	100%{
		transform: translate(0);
	}
}
/*------------------------动画————5——————*/
.box2-1 ul li:nth-of-type(5) strong{
	display: block;
	width: 96px;
	height: 83px;
	background: url(../imgd/jinlin2.png) no-repeat 0 -406px;
	background-size: 150px auto;
	font-size: 0;
	position: absolute;
	top: 165px;
	left: 62px;
	overflow: hidden;
}
.box2-1 ul li:nth-of-type(5) em{
	display: block;
	width: 150px;
	height: 24px;
	font-size: 0;
	background: url(../imgd/jinlin2.png) no-repeat 0 -495px;
	background-size: 150px auto;
	position: absolute;
	left: 0px;
	top: 34px;
	transition: 1s;
}
.box2-1 ul li:nth-of-type(5):hover em{
	left: -50px;
}
.box2-1 ul li:nth-of-type(5):hover .p5{
	animation: p5 1s linear;
}
@keyframes p5{
	0%{
		transform: translate(0);
	}
	50%{
		transform: translateY( -10px);
	}
	100%{
		transform: translate(0);
	}
}